ul.breadcrumb{
    padding: 10px;
    background-color: whitesmoke;
    list-style: none;
}

.breadcrumb li{
    display: inline;
    
}

.breadcrumb li a{
    color:navy;
    text-decoration: none;
}

.breadcrumb li a:hover{
    color: darkcyan;
    text-decoration: underline;
    cursor: pointer;
}

/* add a CSS selector that selects all list elements except for 1st one */
/* add "/" before each selected list  */
ul.breadcrumb li+li:before {
    content:"/";
    color: navy;
    padding: 10px
}





