*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
}

#quote-card{
    background-color: white;
    border-color: #333;
    padding: 10px;
}

#quote-display{
    height: 20vh;
    background-color: lavenderblush;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 15%;
}